<div class="jumbotron text-center">
	<h1>Welcome to 24X7 WATCH</h1>
	<h3>Survelliance over your property</h3>
</div>
<div class="row">
  <div class="col-md-6">
  <div class="well">
    <h2 class="text-center">Basic Membreship</h2>
    <h4>Sign Up for free and get basic acces to the community.</h4>
    <br>
    <%= link_to "Sign up with Basic", new_user_registration_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
  </div>
  <div class="col-md-6">
  <div class="well">
    <h2 class="text-center">Pro Membership</h2>
    <h4>Sign Up for the Pro account for 10$/month and get access to the community and contact information</h4>
     <%= link_to "Sign up with Pro", new_user_registration_path, class: "btn btn-success btn-lg btn-block" %>
  </div>
  </div>
</div>